.center {
	margin: auto;
	width: 40%;
	padding: 10px;
	text-align: center;
}
.center-body {
	float: center;
}
#score-left {
	margin: auto;
	width: 100px;
	padding: 10px;
	text-align: center;
	float: left;
	border: 1px solid;
	display: inline-block;
}
#score-right {
	margin: auto;
	width: 100px;
	padding: 10px;
	text-align: center;
	float: right;
	border: 1px solid;
	display: inline-block;
}
#score-center {
	margin: auto;
	width: 100px;
	padding: 10px;
	text-align: center;
	float: center;
	border: 1px solid;
	display: inline-block;
}

th, td {
	width: 200px;
}

table, th, td, main {
	border: 1px solid;
}
#main-list {
	min-height: 415px;
